vendor/*
!vendor/.gitkeep

wordpress
wp-config.php

/wp-content/cache
/wp-content/upgrade
/wp-content/languages
/wp-content/uploads/*
/wp-content/plugins/*

# to commit your custom plugin:
#!wp-content/plugins/CUSTOM_PLUGIN_1
#!wp-content/plugins/CUSTOM_PLUGIN_2 

/wp-content/themes/twentytwentyone
